* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../img/fotos-site/cheerful-young-lady-holding-hand-sign-smiling-high-quality-photo.jpg");
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
}

.header-inner-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


/*header*/
.navbar {
  background-color: #bd6a3a;
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px #2c2c2c;
  z-index: 99;
}

.navbar>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-icon-container li {
  list-style: none;
  border-bottom: #2c2c2c;
  border-style: solid;
  color: aliceblue;
  cursor: pointer;
}

.nav-icon-container li {
  list-style: none;
  border-bottom: #2c2c2c;
  border-style: solid;
  color: aliceblue;
  cursor: pointer;
}

nav ul li {
  color: aliceblue;
  margin-right: 1rem;
  cursor: pointer;
}

nav ul li:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}







/* Container principal */
.login-container {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;

}

.login-container h1 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

/* Estilização do formulário */
.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

/* Botão de login */
.login-button {
  background-color: #007bff;
  color: #fff;
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.login-button a {
  color: #fff;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Links */
.links {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.links a {
  color: #007bff;
  text-decoration: none;
  margin: 0 0.5rem;
}

.links a:hover {
  text-decoration: underline;
}

/*fonte logo*/
@font-face {
  font-family: 'Moglan';
  src: url("../fonte-logo/Moglan_DEMO.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


.fonte-da-logo {
  font-family: 'Moglan', Arial, sans-serif;
}